<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}" type="text/css"/>
    <script src="../static/script.js" th:src="@{/script.js}" type="text/javascript" defer></script>
</head>
<body>
    <h1 id="message">Hello</h1>
    <div class="container">
        <form id="login-form" class="login-form">
            <label>email: <input type="text" id="email" class="form-item" name="email"/></label><br/>
            <label>password: <input type="password" id="password" class="form-item" name="password"/></label><br/>
            <button type="button" id="submit" class="form-item" onclick="login()">Submit</button>
        </form>
    </div>
</body>
</html>